{% extends 'tareas/base.html' %}

{% block content %}
<h1><a href="{% url 'tarea_fina' tarea.pk %}"><i class="bi bi-arrow-left-circle"></i></a>{{ tarea }}</h1>
<h2>Nueva categoria:</h2>
<form method="POST" action="">
    {% csrf_token %}
    <p>{{ error_desc }}</p>
    <p>{{ form.description.label_tag }}
    {{ form.description.errors }}
    {{ form.description }}
    {{ form.description.help_text }}</p>
    <p>{{ form.color.label_tag }}
    {{ form.color.errors }}
    {{ form.color }}
    {{ form.color.help_text }}</p>
    <p>
    <div class="dropdown">
        <p>{{ error_icon }}</p>
        Icon: 
        <button id="id_icon_button" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Seleccione icono
        </button>
        <ul class="dropdown-menu" style="height: 50px; overflow: auto;">
        {% for opcion in iconos %}
            <li><a class="dropdown-item" href="javascript:void(0);" onclick="selectIcon('{{opcion.class_name}}')"><i class="bi bi-{{opcion.class_name}}"></i>{{opcion}}</a></li>
        {% endfor %}
        </ul>
    </div>
    </p>
    {{ form.icon_class.errors }}
    {{ form.icon_class }}
    <input type="submit" value="Agregar">
</form>
{{ check }}
<script>
    var id_icon_class = document.getElementById("id_icon_class")
    var id_icon_button = document.getElementById("id_icon_button")

    if('{{icon_selecc}}' != '') selectIcon('{{icon_selecc}}');

    function selectIcon(iconClass) {
        id_icon_class.value = iconClass;
        id_icon_button.innerHTML = '<i class="bi bi-'+iconClass+'"></i>'+iconClass;
    }
</script>
{% endblock %}